/**STYLE**/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#container {
  width: 100%;
  max-width: 400px;
  margin: 2% auto;
  padding: 1% 2%;
  border-radius: 1em;
  font-size: 1.1em;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background: linear-gradient(to bottom, #e7e7e7 0%, #ffffff 100%);
  border-top: 4px solid #F6546A;
}
#container h1 {
  text-align: center;
  color: #F6546A;
  text-transform: uppercase;
  padding-bottom: 3%;
  font-size: 1.3em;
}
#container ul {
  list-style: square;
  margin-left: 5%;
}
#container li {
  margin: 4% 0;
}
#container .todos {
  padding: 1%;
}
#container .add {
  padding: 2%;
  background: #F6546A;
  color: #fff;
  border-radius: 0.5em;
  cursor: pointer;
}
#container .task {
  padding: 2%;
  margin-top: 4%;
  border: 1px solid #F6546A;
  border-radius: 0.5em;
  background: linear-gradient(to bottom, #e7e7e7 0%, #ffffff 100%);
}
#container .remove {
  padding: 0.1% 1.3%;
  margin-left: 2%;
  cursor: pointer;
  font-weight: bold;
  background: #F6546A;
  color: #fff;
  border-radius: 0.5em;
  font-size: 0.8em;
}
