/**STYLE**/

* { margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent; }

#container {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	position: relative;
	background: #e7e7e7;

	.add-list {
		background: #075;
		color: #fff;
		padding: 1%;
		text-align: center;
		cursor: pointer;
	}

	.new-list {
		width: 96%;
		padding: 1%;
		margin: 1%;
		display: none;

		input {
			border: 1px solid #759;
		}

		.bt {
			padding: 1%;
			background: #759;
			cursor: pointer;
		}
	}

	.list {
		display: none;
	}
}